.navbar-container {
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  background-color: #2874f0;
}
.navbar-container > *{
    padding: 10px;
    text-decoration: none;
    color: white;
}
